
        <div id="sidebar">
            <center>
                <b>Navigation</b>
            </center>

            <hr>

            <div class="grid">
                <div class="box"><a href="about.html">About Me</a></div>
                <div class="box"><a href="projects.html">Projects</a></div>
                <div class="box"><a href="thesis.html">Thesis</a></div>
                <center>
                    <div class="box"><a href="links.html">Cool Links</a></div>
                    <div class="box"><a href="quotes.html">Quotes</a></div>
                </center>
                <div class="box"><a href="#">Guestbook</a></div>
            </div>

            <hr>

            <marquee direction="up" height="100">WELCOME TO MY ZONE!!!</marquee>
            <br>
            <center>
                <a href="email.html"><img src="@images/email_me.gif" alt="Email Me"></a><br>
                <img src="@images/netscape.gif" alt="Netscape"><br>
            </center>
        </div>