<%- include('../components/start/start.html') %>

<div id="header">
    <marquee>🚀 Welcome to my AWESOME homepage 🚀</marquee>

    <center>
        <h1 class="rainbow">About Me</h1>
    </center>
</div>
<div id="content">
    <p> I'm an ever aspiring polymath and pansophist, trying to make the world around me better. </p>
    <p> Professionally, I'm a Software Engineer with a passion for security and quality automation.
        My free time goes toward building and growing things around my home and, occasionally, photography.
        My Bachelor's and Master's degrees are in Computer Science from <abbr
            title="Rochester Institute of Technology">RIT</abbr>.
        My undergraduate work included minors in Psychology and Japanese Language, plus classes and seminars in a
        variety of disciplines including photography.
    </p>
    <p>
        Probably the biggest factor in what I enjoy is that I like making things.
        This includes variety of activities, such as programming, woodworking and carpentry (specifically furniture
        making), gardening, cooking, and simply fixing things.
        I have an easy time getting along with people, and I like to use my background in psychology and human relations
        to help people with any kind of problem they may be having.
        I also value time spent improving myself in any way I can.
    </p>
    <p>
        I have an affinity for languages, both computer and natural, and have been reasonably proficient with English,
        Latin, and Japanese.
        I've learned a barely passable amount of German and Arabic as well.
        I love to travel and experience things. After finishing graduate school, I took a year and travelled around
        Europe and parts of Asia.
        I would like to take some time to travel more places, such as around western Asia (India, the "middle east"),
        South America, and maybe into Africa.
        I'd like to spend a reasonable amount of time on all the continents, though maybe not Antarctica.
    </p>
    <p>
        Before college, I spent 13 years training and playing classical piano. I stil play a bit from time to time,
        but don't play or practice anything for more than fun. It is a fascinating testament to how the brain works
        that I can still play the concert-ready pieces I memorized but haven't touched in years and how quickly the
        muscle memory comes back with a little replay practice.
    </p>
    <p>
        I'm an easy-going and open-minded person and am quite difficult to offend.
        I can be shy in larger group situations, and I tend to listen to and observe people rather than talking a lot.
        If I am in a position to have a proper conversation with one person or am around people I'm comfortable
        with or can speak on a topic I know well, I open up a lot.
    </p>
    </section>
</div>

<%- include('../components/end/end.html') %>