<%- include('../components/start/start.html') %>

<div id="header">
    <marquee>🚀 Welcome to my homepage 🚀</marquee>

    <center>
        <h1 class="">Quotes</h1>
    </center>
</div>
<div id="content">
    <blockquote>
        <p>We all love each other the way we want to be loved, and we all accept the love we think we deserve.</p>
        <footer>Charlie in <cite title="The Perks of Being a Wallflower">The Perks of Being a Wallflower</cite></footer>
    </blockquote>
    <blockquote>
        <p>The brick walls are there for a reason. The brick walls are not there to keep us out. The brick walls are
            there to give us a chance to show how badly we want something. Because the brick walls are there to stop the
            people who don't want it badly enough. They're there to stop the other people.</p>
        <footer>Randy Pausch in <cite title="The Last Lecture">The Last Lecture</cite></footer>
    </blockquote>
    <blockquote>
        <p>If you've done something right, people won't be sure you have done anything at all.</p>
        <footer>God in <cite title="Futurama">Futurama</cite></footer>
    </blockquote>
    <blockquote>
        <p>The power of a weapon is great, but the power to improve oneself is greater.</p>
        <footer>Sensei in <cite title="Lego Ninjago">Lego Ninjago</cite></footer>
    </blockquote>
    <blockquote>
        <p>Creativity is the residue of time wasted.</p>
        <footer>Albert Einstein in <cite title=""></cite></footer>
    </blockquote>
    <blockquote>
        <p>How hard is it to decide to be in a good mood, and then just be.. in.. a good mood?</p>
        <footer>Scroobius Pip in <cite title="Waiting For The Beat To Kick In">Waiting For The Beat To Kick In</cite>
        </footer>
    </blockquote>
    <blockquote>
        <p>Even the nicest of guys has some nasty within em', ... whether it be greed, lust, or just plain
            vindictiveness, there's a level of benevolence inside all of us.</p>
        <footer>Scroobius Pip in <cite title="Waiting For The Beat To Kick In">Waiting For The Beat To Kick In</cite>
        </footer>
    </blockquote>
    <blockquote>
        <p>When you forgive, you love; and when you love, God's light shines on you.</p>
        <footer>Jon Krakauer in <cite title="Into the Wild">Into the Wild</cite></footer>
    </blockquote>
    <blockquote>
        <p>You yourself, as much as anybody in the entire universe, deserve your love and affection.</p>
        <footer>Buddha in <cite title=""></cite></footer>
    </blockquote>
    <blockquote>
        <p>Thousands of candles can be lit from a single candle, and the life of the candle will not be shortened.
            Happiness never decreases by being shared.</p>
        <footer>Buddha in <cite title=""></cite></footer>
    </blockquote>
</div>

<%- include('../components/end/end.html') %>